.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.5rem
}

.logo {
  display: block;
  width: auto;
  margin-left: 1rem;
}

nav {
  width: 100%;
  order: 3;
  margin-top: 1.25rem;
}

nav a {
  color: #000;
  transition: color 0.5s ease;
}

nav ul {
  display: flex;
  text-align: center;
}

nav ul li {
  width: 50%;
  padding-bottom: 1rem;
  border-bottom: solid 2px #f2f2f2;
}

.active {
  border-bottom: 2px solid #0065fc;
  padding-bottom: 1rem;
}

.active a {
  color: #0065fc;
}

.sign-up {
  margin-right: 1.25rem;;
  color: #0065fc;
  font-weight: bold;
}

/* Screens between 600px and 1023px */

@media only screen and (min-width: 600px) {
  .logo{
    margin-left: 3.5rem;
  }

  .sign-up {
    margin-right: 3.5rem;
  }
}

/* Desktop*/
@media only screen and (min-width: 1024px) {

  .header-wrapper {
    flex-wrap: nowrap;
    margin-top: 0;
    align-items: unset;
  }

  .logo {
    margin-left: 1.7rem;
  }

  nav {
    width: 300px;
    margin-left: auto;
    margin-top: 0;
  }

  nav ul li {
    border-bottom: none;
  }
  
  .active {
    border-bottom: none;
    border-top: 2px solid #0065fc;
  }

  .logo,
  nav li,
  .sign-up {
    padding-top: 2rem;
  }

  .sign-up {
    order: 3;
  }
  
}
