* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

body {
  background-color: #fff;
  box-sizing: border-box;
  font-size: 1.2rem;
}

a {
  color: inherit;
  list-style: none;
}

.header {
  width: 100%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: repeat(2, 1fr); */
  grid-template-areas: 
  "logo . . signup"
  "navbar navbar navbar navbar";
}

.header--logo {
  grid-area: logo;
  margin-left: 25%;
}

.header--signup {
  grid-area: signup;
  margin: auto;
  color: #0065FC;
  font-weight: 700;
  opacity: .9;
  font-size: 1.2rem;
  margin-right: 25%;
}

.header--nav {
  display: flex;
  align-items: center;
  grid-area: navbar;
  justify-content: space-evenly;
  border-bottom: 2px solid #F2F2F2;
  padding-bottom: 10px;
}

.header--nav--link {
  /* padding: 2rem; */
  font-weight: 500;
  text-align: center;
  transition-duration: 0.1s;
  border-top: 3px transparent solid;
  border-bottom: 3px transparent solid;
}

.header--nav--link[data-active=true] {
  color: #0065FC;
}
.header--nav--link:hover {
  color: #0065FC;
}

.header--margin {
  margin-top: 20px;
}

/* .header--link {
  padding: 0.2rem;
  text-align: center;
  border-top: 3px transparent solid;
  border-bottom: 2px #8c88885e solid;
  font-size: 1.2rem;
}

.header--link:after{
  position: absolute;
  left: 20px;
  content: '';
  height: 20px;
  width: 180px;
  border-bottom: solid 3px #019fb6;
  transition: left 250ms ease-in-out, right 250ms ease-in-out;
  opacity: 0;
}

.header--link:hover:after{
  opacity: 1;
} */

/* .link {
  text-decoration: none;
} */

/* .link:hover {
  color: #0065FC;
  border-bottom: 2px #0065FC solid;
} */

@media all and (min-width: 1024px) {
  .header {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar signup";
    padding: 0;
    /* display: flex; */
    flex-direction: row;
    width: 95%;
    align-items: center;
    margin: 20px auto;
    margin-top: 60px;
   
  }
  
  .header--logo {
    margin-right: 60%;
  }

  .header--nav{
    width: 30%;
    font-size: 1.2rem;
    border-bottom: none;
    padding-bottom: 0px;
  }

  .header--signup{
    order: 3;
    margin: 0;
  }

  .header--accommodation {
    order: 1;
    margin: 0;
    /* margin-right: 3%; */
    border:0;
    font-size: 1.4rem;
    margin-right: 25px;
  }

  .header--activities {
    order: 2;
    margin: 0;
    margin: 0 100%;
    border: 0;
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
  .header {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar signup";
    padding: 0;
    /* display: flex; */
    flex-direction: row;
    width: 95%;
    align-items: center;
    margin: 20px auto;
   
  }

  .header--nav{
    width: 30%;
  }

  .header--signup{
    order: 3;
    margin: 0;
  }

  .header--accommodation {
    order: 1;
    margin: 0;
    /* margin-right: 3%; */
    border:0;
  }

  .header--activities {
    order: 2;
    margin: 0;
    margin: 0 100%;
    border: 0;
  }


}


.search {
  padding: 0 20px;
  background-color: #ffffff;
}
.search--title {
  font-size: 1.8rem;
  margin: 20px 0 10px;
}

.search--subtitle {
  font-weight: 300;
}

.search--form {
  display: flex;
  width: 100%;
  margin: 20px 0 20px;
}

.search--form--iconstyle {
  background-color: #f2f2f2;
  padding: 1rem 1.25rem;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
}

.search--form--input {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 1.5rem;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Raleway", "Sans serif";
  color:black;
}

.search--form--button--text {
  display:none;
}

.search--form--button {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 1rem;
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  cursor: pointer;
}

.search--form--button:hover {
  background-color: #FFFFFF;
  color:#0065FC
}

.search-filters {
  display: flex;
  flex-wrap: wrap;
}

.search--title--small{
  font-size: 1.4rem;
  margin-right: 200px;
  padding: 10px 0px 10px 0px;
}

.search--filter {
  display: flex;
  align-items: center;
  border:#f2f2f2 2px solid;
  border-radius: 2rem;
  justify-content: space-between;
  width: auto;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.search--filter:hover {
  background-color: #0065FC;
  color: white;
}

.search--filter--icon {
  color: #0065FC;
  background-color: #DEEBFF;
  padding: 0.6rem;
  border-radius: 100%;
  margin-right: 1rem;
  height: 3rem;
  width: 3rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}

.search--filter--icon:hover {
  background-color: #0065FC;
  color:#ffffff;
}

.search--filter--text {
  padding: 10px;
  font-size: 1.25rem;
  font-weight: 600;
}

.search--result {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  padding: 20px 0px;
}

.search--result--icon {
  color: #0065FC;
  background-color: #ffffff;
  border:#f2f2f2 2px solid;
  padding: 1rem;
  border-radius: 100%;
  margin-right: 1rem;
  height: 1rem;
  width: 1rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.search--result--text {
  width: 90%;
  font-size: 1.2rem;
}

@media all and (min-width: 1024px) {

  .search {
    padding: 0 30px;
  }
  .search-filters {
    margin: 0;
    display: flex;
    align-items: center;
  }

  .search--title--small {
    margin: 20px;
  }

  .search--result {
    width: 400px;
  }

  .search--form--button--text {
    display: contents;
  }

  .search--form--button--icon {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .search--title--small {
    margin-right: 10px;
  }

  .search--filter--text {
    font-size: 1.2rem;
  }
}

.accommodations {
  display: flex;
  flex-direction: column;
}

.hotels {
  background-color: #ffffff;
  min-height: auto;
  order: 2;
}


.hotels--header {
  padding: 30px 30px 30px 20px;
}

.hotels--header--title {
  font-size: 1.6rem;;
}

.hotels--card {
  background-color: #ffffff;
  width:300px;
  height: 200px;
  margin: auto;
  border-radius: 20px;
  /* padding:5px; */
  box-shadow: 2px 2px 2px #000000;
  box-shadow: 0 0 16px #0000002e;
}

.image-rectangle-small {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
}

.hotels--card--layout {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  gap: 15px;
}

.hotels--card a {
  text-decoration: none;
  color: #f2f2f2;
}

.hotel--card--description {
  padding: 0px 0px 5px 15px;
}

.hotel--card--title {
  padding: 5px 0 0 0px;
  color: black;
}

.hotel--card--subtitle {
  font-weight: 400;
  padding: 5px 0 0 0px;
  color: black;
}

.hotel--card--amount {
  font-weight: 600;
}

.hotel--card--grade {
  padding: 5px 0 0 0px;
  color: grey;
}
.hotel--card--grade--colour {
  color: #0065FC;
}


.popular--hotel {
  background-color: #f2f2f2;
  order:1;
}

.popular--hotel--header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 1.4rem;
  align-items: baseline;
}

.popular--hotel--icon {
  padding-right: 10px;
}

.hotels--card--popular {
  background-color: #ffffff;
  width:340px;
  margin: auto;
  border-radius: 20px;
  padding:5px;
  box-shadow: 2px 2px 2px #000000;
  box-shadow: 0 0 16px #0000002e;
}

.popular--card--layout {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  gap: 15px;
}

.popular--hotel--card {
  background-color: #ffffff;
  width: 340px;
  height:130px;
  margin: auto;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #000000;
  box-shadow: 0 0 16px #0000002e;
  margin-bottom: 10px;
}

.popularImage {
  width: 125px;
  height: 120px;
  /* padding: 2px; */
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
  /* background-size: cover; */
}

.popular--hotel--card--content {
  display: flex;
}

.popular--hotel--card---description {
  text-decoration: none;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 110px;
}

.popular--hotel--card--title {
  padding: 5px 0 0 0px;
  color: black;
  margin-bottom: 10px;
}

.popular--hotel--card--header {
  margin-bottom: 5px;
  width: 80%;
}

.popular--card--subtitle{
  font-weight: 300;
  padding: 5px 0 0 10px;
  color: black;
  margin-bottom: 10px;
}

.popular--hotel--card--amount{
  font-weight: 600;
}


@media all and (min-width: 1024px) {
  body {
    background-color: white;;
  }

  .accommodations {
    width: 95%;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    gap: 40px;
    margin: 0 auto;
    border-radius: 20px;
  }

  .hotels--card--layout {
    width: 95%;
    margin: 0 auto;
  }

  .hotels {
    /* width: 100%; */
    order: 1;
    background-color: #F2F2F2;
    border-radius: 20px;
  }

  .hotels--header {
    padding: 20px 30px 20px 30px;
  }

  .hotels--card{
    width: 230px;
    height: 180px;
    margin: 10px 0px;
  }

  .image-rectangle-small {
    width: 100%;
    height: 100px;
    padding: 5px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
  }

  .popular--hotel {
    /* width: 30%; */
    order: 2;
    margin: 0 auto;
    border-radius: 20px;
  }

  .popular--header--title {
    font-size: 1.6rem;
    padding: 5px 30px;
  }

  .popular--card--layout {
    margin: 0 auto;
  }

  .popular--hotel--card {
    background-color: #ffffff;
    width: 75%;
    height:130px;
    margin: auto;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #000000;
    box-shadow: 0 0 16px #0000002e;
    margin-bottom: 10px;
  }

  .popular--hotel--card---description {
    height: 100px;
  }

  .popular--hotel--card--header {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .popular--header--title {
    font-size: 1.6rem;
  }

  .popular--card--layout {
    margin: 0 auto;
    justify-content: space-around;
  }

  .popular--hotel--card {
    background-color: #ffffff;
    width: 220px;
    height:130px;
    margin: auto;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #000000;
    box-shadow: 0 0 16px #0000002e;
    margin-bottom: 10px;
  }

  .popularImage {
    width: 100px;
  }

  .popular--hotel--card--title {
    font-size: 1rem;
  }


}

.activity {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  gap:20px;
}


.activity--title {
  padding: 5px 0 20px 20px;
  color: black;
}

.activity--card--layout {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  gap: 15px;
}


.activity--card {
  background-color: #ffffff;
  width: 340px;
  height: 190px;
  margin: auto;
  /* padding: 5px; */
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 16px #0000002e;
  margin-bottom: 10px;
  overflow: hidden;
}

.activity--card:last-child {
  margin-bottom: 30px;
}

.activitiesImage-1 {
  width: 100%;
  height: 130px;
  border-radius: 0px 0px 0px 0px;
  background-size: contain;
  overflow: hidden;
  object-fit: cover;
}

.activity-card-header {
  padding: 20px;
}


@media all and (min-width: 1024px) {

  .activity {
    height: 600px;
  }

  .activity--title {
    padding: 40px 0 20px 30px;
  }

  .activity--card--layout {
    width: 93%;
    /* background-color:grey; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    "a b d e"
    "a b d e"
    "a b d e"
    "a c d f"
    "a c d f"
    "a c d f";
    border-radius: 20px 20px 0px 0px;
    gap: 20px;
    max-height: 450px;
}

  .activity--card {
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 16px #0000002e;
  }

  .activities-1 {
    grid-area: a;
    margin: 0;
    height: 450px;
    width: 100%;
  }

  .activitiesImage-1 {
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0px 0px;
    background-size: contain;
    overflow: hidden;
    object-fit: cover;
  }

  .activities--image--large {
    height: 88%;
  }

  .activitiesImage-2 {
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0px 0px;
    background-size: contain;
    overflow: hidden;
    object-fit: cover;
  }

  .activity--card--short {
    height: 200px;
    width: 300px;
  }

  .grid--image--large {
    height: 350px
  }

  .grid--image--small {
    height: 65%;
  }

  .activities-2 {
    grid-area: b;
    height: 230px;
    width: 100%;
  }

  .activities-3 {
    grid-area: c;
    margin-top: 50px;
    height: 80%;
    width: 100%;
  }

  .activities-4 {
    grid-area: d;
    margin: 0;
    height: 450px;
    width: 100%;
  }

  .activities-5 {
    grid-area: e;

    margin: 0px 10px 20px 10px;
    height: 90%;
    width: 100%;
  }

  .activities-6 {
    grid-area: f;
    margin: 10px;
    height: 100%;
    width: 100%;
  }

}

footer {
  background-color: #F2F2F2;
}

.footer--header, .footer--links {
  padding: 10px;
}

.footer--card--layout {
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  align-content: center;
  gap: 15px;
}

.footer--content{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer--content--column {
  display: flex;
  flex-direction: column;
}

.footer--content--column-middle {
  padding: 20px 0px;
}

@media all and (min-width: 1024px) {


  .footer--card--layout {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .footer--content {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .footer--content--column {
    margin-right: 12%;
  }

  .footer--content--column-middle {
    padding: 0px;
  }
  .footer--header{
    width: 200px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .footer--content {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .footer--content--column {
    margin-right: 12%;
  }

  .footer--content--column-middle {
    padding: 0;
  }
}

