/* General HTML styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
  text-decoration: none;
}

html {
  font-size: 1.175rem;  /* 1rem = 12px */ 
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.main-padding {
  padding: 0 2rem;
}

.single-padding {
  padding-bottom: 1rem;
}

.fas {
  color:#0065fc;
}

/* Header Styling - see header.css for all styling for the header */

/* Search Styling  - see search.css for all the styling  in the search section */

/* Most popular Hotel - see rooms.css for all the styling for the accommmodation and most popular rooms */

/* Activities */

@media only screen and (min-width: 1024px) {
  .desktop-padding {
    padding: 0 2rem;
  }
}