@import url(/CSS/image.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  padding-bottom: 0.5rem;
}

body {
  font-family: 'Raleway', sans-serif;
}

#container {
  width: 95%;
  margin: auto;
} 
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

nav {
  text-decoration: none;
}

.nav__links {
  list-style: none;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin-right:40px;
}

nav ul li a {
  transition: all .3s ease;
  text-decoration: none;
  color:#0065FC;
}

nav ul li a:hover {
  color:grey;
}

.nav__links li:last-child {
  margin-right: 0;
}

button {
  width: 100px;
  display: flex;
  padding: 5px;
  text-align: center;
  justify-content: space-around;
  border-radius: 20px;
}

button .icon {
  color:#0065FC;
}

.searchForm {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.searchFormIconStyle {
  background-color: #f2f2f2;
  padding: 1rem 1.25rem;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
}

.searchFormIcon {
  margin-left: 0.1rem;
}

.searchFormInput {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 1.5rem;
  box-sizing: border-box;
  width: 14rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
}

.searchFormButton {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 1rem;
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  cursor: pointer;
}

.searchFilters {
  display: flex;
}

.searchFiltersTitle {
  display: flex;
  align-items: center;
  margin: 0 2rem 1rem 0;
}

.searchFiltersFilter{
  display: flex;
  align-items: center;
  border:#f2f2f2 2px solid;
  border-radius: 2rem;
  justify-content: space-between;
  width: auto;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.searchFiltersFilter:last-child {
  margin-right: 0;
}

.searchFiltersFilterIcon {
  color: #0065FC;
  background-color: #DEEBFF;
  padding: 0.6rem;
  border-radius: 100%;
  margin-right: 1rem;
  height: 3rem;
  width: 3rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}

.searchFiltersFilterIcon:last-child {
  margin-right: 0;
}


.searchFiltersFilterText {
  padding: 1rem;
}

.searchFiltersFilterTitle {
  margin: 0 1rem;
}

.searchResult {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.searchResultIcon {
  color: #0065FC;
  background-color: #ffffff;
  border:#f2f2f2 2px solid;
  padding: 1rem;
  border-radius: 100%;
  margin-right: 1rem;
  height: 1rem;
  width: 1rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.searchResultText {
  width: 22%;
}

.accommodations {
  display: flex;
  justify-content: space-between;
}

.hotels {
  background-color: #f2f2f2;
  width: 60%;
  min-height: auto;
}

.hotelsHeader, .popularHeader {
  padding: 30px;
}

.hotelsCard {
  background-color: #ffffff;
  width:200px;
  margin: auto;
  border-radius: 20px;
  padding:5px;
  box-shadow: 2px 2px 2px #000000;
  box-shadow: 0 0 16px #0000002e;
}

.hotelsCardLayout {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  gap: 15px;
}

.hotelsCard a {
  text-decoration: none;
  color: #f2f2f2;
}

.hotelCardTitle {
  padding: 5px 0 0 10px;
  color: black;
}

.hotelCardSubTitle {
  font-weight: 400;
  padding: 5px 0 0 10px;
  color: black;
}

.hotelCardAmount {
  font-weight: 600;
}

.hotelCardGrade {
  padding: 5px 0 0 10px;
  color: grey;
}
.hotelCardGradeColour {
  color: #0065FC;
}

.popular {
  background-color: #f2f2f2;
  width: 30%;
}

.hotelsCardPopular {
  background-color: #ffffff;
  width:340px;
  margin: auto;
  border-radius: 20px;
  padding:5px;
  box-shadow: 2px 2px 2px #000000;
  box-shadow: 0 0 16px #0000002e;
}

.popularCard {
  background-color: #ffffff;
  width: 80%;
  margin: auto;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #000000;
  box-shadow: 0 0 16px #0000002e;
  margin-bottom: 20px;
}

.popularCard:last-child{
  margin-bottom: 0;
}

.popularCardContent {
  display: flex;
}

.popularCardTitle {
  padding: 5px 0 0 10px;
  color: black;
  margin-bottom: 10px;
}

.popularCardHeader {
  margin-bottom: 5px;
}

.popularCardSubtitle{
  font-weight: 400;
  padding: 5px 0 0 10px;
  color: black;
  margin-bottom: 10px;
}

.popularCardAmount{
  font-weight: 600;
}

.activities {
  display: grid;
  text-align: center;
  color: white;
  font-size: 1.4rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 7em;
  grid-gap:10px;
}

.activities-1, .activities-4{
  background-color: blue;
  border-radius: 10px;;

}
.activities-2, .activities-3{
  background-color:green;
}
.activities-5, .activities-6{
  background-color:red
}

#activities-1 {
  grid-column: 1/2;
  grid-row: 1/3;
}

#activities-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

#activities-3 {
  grid-column: 2/3;
  grid-row: 2/3;
}

#activities-4 {
  grid-column: 3/4;
  grid-row: 1/3;
}

#activities-5 {
  grid-column: 4/5;
  grid-row: 1/2;
}

#activities-6 {
  grid-column: 4/5;
  grid-row: 2/3;
}

#activities-1 a, #activities-2 a, #activities-3 a, #activities-4 a, #activities-5 a, #activities-6 a {
  text-decoration: none;
  color: #000000;
}

